<ul class="breadcrumb">
  <li class="active"><a href="/">Home</a></li>
</ul>

<div class="hero-unit">
  <h2>Welcome to Teamboard!</h2>

  <p>Quick overview through situation on your Bugzilla</p>

  <p>
    <% allTabs.each do |t| %>
        <a href="/<%= t.name %>/" class="btn primary large"><%= t.title %> »</a>
    <% end %>
  </p>
</div>
